
<div  {{ attributes }} class="form-container max-w-lg mx-auto bg-white p-6 shadow-md rounded-lg">
    {% if formVisible%}
    <!-- Header Image -->
    <div class="flex justify-center mb-4">
        <img alt="paws" src="{{ asset('assets/images/paws.png') }}" class="form_head_img w-16 h-16">
    </div>

    <!-- Title -->
    <h2 class="text-2xl font-bold text-center text-blue-600 mb-6">Tell us about your pet </h2>

    <h4 style="color: red"> {{ formErrors }}</h4>
    <form
            data-action="live#action:prevent"
            data-live-action-param="save"
            id="petForm"
            class="space-y-6">
        <!-- Dog's Name -->
        <div class="form-group">
            <label for="name" class="block text-sm font-medium text-gray-700 mb-1">What is your dog's name?</label>
            <input
                    name="name"
                    id="name"
                    type="text"
                    data-model="name"
                    placeholder="Monte"
                    class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2"
                    >
        </div>

        <div class="form-group">
            <label for="type" class="block text-sm font-medium text-gray-700 mb-1">What type of pet is it?</label>
            <select
                    id="type"
                    name="type"
                    data-model="type"
                    class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                <option value="">Select Type</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
            </select>
        </div>
        {% if type is not empty %}

        <div class="form-group">
            <label for="breed" class="block text-sm font-medium text-gray-700 mb-1">What breed are they?</label>
            <select
                    id="breed"
                    name="breed"
                    data-model="breed"
                    class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                {% for breed in breeds %}
                    <option value="{{ breed.id }}">
                        {{ breed.name }}
                        {% if breed.isDangerous %}
                            (Dangerous)
                        {% endif %}
                    </option>

                {% endfor %}
                <option value="0" >I can't find it </option>

            </select>
        </div>
        {% endif %}

        {% if breed==0 %}
        <!-- Choose One -->
        <div class="form-group">
            <label class="block text-sm font-medium text-gray-700 mb-2">Choose One</label>
            <div class="radio-group flex gap-4">
                <label class="flex items-center gap-2">
                    <input
                            type="radio"
                            name="breedOption"
                            value="unknown"
                            data-model="otherBreed"
                            class="focus:ring-blue-500 text-blue-600">
                    <span class="text-sm text-gray-700">I don’t know</span>
                </label>
                <label class="flex items-center gap-2">
                    <input
                            type="radio"
                            name="breedOption"
                            value="mix"
                            data-model="otherBreed"
                            class="focus:ring-blue-500 text-blue-600">
                    <span class="text-sm text-gray-700">It’s a mix</span>
                </label>
            </div>
            {% if otherBreed=='mix' %}
            <input
                    type="text"
                    id="mix-details"
                    name="mixDetails"
                    data-model="otherBreedDetails"
                    placeholder="Collie, poodle, lab"
                    class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2 mt-2">
            {% endif %}
        </div>


        {% endif %}



        <!-- Pet's Age -->
        <div class="form-group">
            <label class="block text-sm font-medium text-gray-700 mb-2">Do you know their date of birth?</label>
            <div class="radio-group flex gap-4">
                    <label class=" px-4 py-2 border rounded-md text-blue-500 border-blue-500 cursor-pointer transition duration-200 hover:bg-blue-100 ">

                    <input
                            type="radio"
                            name="knowDateOfBirth"
                            value="true"
                            data-model="knowDateOfBirth"
                            data-value="1"
                            data-action="live#update"
                            value="1"
                            class="focus:ring-blue-500 text-blue-600"
                            {% if knowDateOfBirth %}checked{% endif %}>
                    <span class="text-sm text-gray-700">Yes</span>
                </label>
                <label class=" px-4 py-2 border rounded-md text-blue-500 border-blue-500 cursor-pointer transition duration-200 hover:bg-blue-100 ">

                        <input
                            type="radio"
                            name="knowDateOfBirth"
                            data-model="knowDateOfBirth"
                            value="0"
                            data-value="0"
                            data-action="live#update"
                            class="focus:ring-blue-500 text-blue-600"
                            {% if not knowDateOfBirth %}checked{% endif %}>
                    <span class="text-sm text-gray-700">No</span>
                </label>
            </div>
        </div>

        <!-- Date of Birth -->
        {% if knowDateOfBirth %}
            <div class="form-group">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-700 mb-1">Date of Birth</label>
                <input
                        type="date"
                        id="dateOfBirth"
                        name="dateOfBirth"
                        data-model="dateOfBirth"
                        class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
            </div>
        {% else %}
            <!-- Approximate Age -->
            <div class="form-group">
                <label for="approximateAge" class="block text-sm font-medium text-gray-700 mb-1">Approximate Age</label>
                <select
                        id="approximateAge"
                        name="approximateAge"
                        data-model="approximateAge"
                        class="w-full border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 p-2">
                    <option value="">Select Age</option>
                    {% for i in 1..20 %}
                        <option value="{{ i }}">{{ i }} year{{ i > 1 ? 's' }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}


        <!-- Dog's Gender -->

        <div class="form-group">
            <label class="block text-sm font-medium text-gray-700 mb-2">What gender are they?</label>
            <div class="flex gap-4">
                <label class="gender-btn px-4 py-2 border rounded-md text-blue-500 border-blue-500 cursor-pointer transition duration-200 hover:bg-blue-100 {{ gender == 'Female' ? 'bg-blue-100' : '' }}">
                    <input
                            type="radio"
                            name="gender"
                            value="Female"
                            data-model="gender"
                            data-value="Female"
                            data-action="live#update"
                           >
                    Female
                </label>
                <label class="gender-btn px-4 py-2 border rounded-md text-blue-500 border-blue-500 cursor-pointer transition duration-200 hover:bg-blue-100 {{ gender == 'Male' ? 'bg-blue-100' : '' }}">
                    <input
                            type="radio"
                            name="gender"
                            data-model="gender"
                            value="Male"
                            data-value="Male"
                            data-action="live#update"
                           >
                    Male
                </label>
            </div>
        </div>
        <!-- Continue Button -->
        <div class="form-group text-center">
            <button
                    type="submit"
                    class="btn-primary px-6 py-2 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-600">
                Continue
            </button>
        </div>
    </form>
    {% else %}
        {{ component('PetSummaryComponent', { pet: savedPet }) }}
    {% endif %}
</div>


